@model ProjectIDGenerator.ViewModels.ProjectsViewModel
@{
    Layout = null;
}
    <select asp-for="ProjectId" asp-items="ViewBag.Projects"></select>
<form asp-controller="Home" asp-action="AddProject">
    <input type="text" asp-for="Name"/>
    <button type="submit">+</button>
</form>

<script>
$(document).on('change', 'select', function() {
    console.log($(this).val()); // the selected options’s value
});
</script>