@model ProjectIDGenerator.ViewModels.PromoCodeViewModel


@{
    ViewBag.Title = "PromoCode Generator";
}
<style>
    .header-hero-content {
        padding-top: 0px;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="header-hero-content padding-top--0">
                
                            <div class="formbg">
                                <div class="formbg-inner padding-horizontal--48">
                            
                                    <form method="post" asp-controller="Home" asp-action="AddPromoCode">
                                        <div class="field padding-bottom--24">
                                            <label for="firstname">First Name</label>
                                            <input type="text" asp-for="FirstName">
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                        <div class="field padding-bottom--24">


                                            <label for="Secondname">Second Name</label>
                                            <input type="text" asp-for="SecondName">
                                            <span asp-validation-for="SecondName" class="text-danger"></span>



                                        </div>
                                        <div class="field padding-bottom--24">
                                            <label for="Lastname">Last Name</label>
                                            <input type="text" asp-for="LastName">
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>

                                        <div class="field padding-bottom--24">
                                            <label for="Mobilenumber">Mobile Number</label>
                                            <input type="text" asp-for="MobileNO">
                                            <span asp-validation-for="MobileNO" class="text-danger"></span>
                                        </div>
                                       
                                        <div class="alert alert-danger">The mobile number is already in use. Please choose a different one.</div>
                                        

                                        <div class="field padding-bottom--24">
                                            <input type="submit" name="submit" value="Get a PromoCode">
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <div class="footer-link padding-top--24">
                                <span>
                                    Powerd By <a href="https://qi.iq/ar/home"
                                                 style="color:rgb(236, 208, 79);">QI</a>
                                </span>

                            </div>
                   

            </div>
            <!-- header hero content -->
        </div>
    </div>

</div>
<!-- container -->




<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>